<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>48251952540-1c3v6qeoq8415cbphn2qp4s0bas1e6v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48251952540-1c3v6qeoq8415cbphn2qp4s0bas1e6v2</string>
	<key>API_KEY</key>
	<string>AIzaSyDKEbi145KCSXayARiTeJUrSzCcJMMG7oo</string>
	<key>GCM_SENDER_ID</key>
	<string>48251952540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codepath.AthenaHacks</string>
	<key>PROJECT_ID</key>
	<string>athenahacks-5f64d</string>
	<key>STORAGE_BUCKET</key>
	<string>athenahacks-5f64d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48251952540:ios:d059c49884ae12c0</string>
	<key>DATABASE_URL</key>
	<string>https://athenahacks-5f64d.firebaseio.com</string>
</dict>
</plist>